.buttonBox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 10px;
  min-width: 135px;
  border: 1px solid rgba(59, 56, 56, 0.062);
  background: linear-gradient(
    to right,
    rgb(0, 104, 43),
    rgb(255, 255, 255, 0.9),
    rgb(0, 104, 43)
  );
  border-radius: 25px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.9);
  outline: none;
}

.button:nth-child(2) {
  background: linear-gradient(
    to right,
    rgb(0, 7, 104),
    rgb(255, 255, 255, 0.9),
    rgb(0, 7, 104)
  );
}
.button:nth-child(3) {
  background: linear-gradient(
    to right,
    rgb(104, 0, 0),
    rgb(255, 255, 255, 0.9),
    rgb(104, 0, 0)
  );
}
